
#full {
position:relative;
position:absolute;
top:0;
right:0;
bottom:0;
left:0;
}
#about {
    background-image: url("../images/1.jpg");
    height: 80%;
    width:100%;
}

#graph {
    background-image: url("../images/1.jpg");
    height: 79.9%;
    width:100%;
}
#abc {
    left:15%;
    top:30%;
    z-index: 10;
    position:absolute;
}
#heading {
  position: absolute;
  top:0;
  left:40%;
  }
#footerText{
  position: absolute;
  bottom: 2%;
  right: 0%;
  color: black;
  font-size:small; 
}
#logo {
  position: fixed;
  left: 45%;
  top: 40%;
}
#custom {
  background-color: #314A60;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height:20%;
  }
#about img{
  top:40%;
}
.search {
                padding:18% 38%;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
                position: absolute;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  border: 2px solid white;
  padding: 10px;
  position:relative;
  top:50%;
}
h4 {
  color: white;
  text-decoration: none;
  font-size: 21px;
  padding: 30px;
  position: fixed;
  top: 60%;
  left: 40%;
}
.round-home_button {
    position: absolute;
    top:5%;
    right:10%;
    padding: 0px;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 60%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}
.round-home_button:hover {
    background: #262626;
}
.round-about_button {
    position: absolute;
    top:5%;
    right:5%;
    padding: 0px;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 60%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:15px;
    font-weight:bold;
}
.round-about_button:hover {
    background: #262626;
}

#footerText a{
  border: hidden;
  color: black;
  font-size:small; 
}
#left a:hover {
  text-decoration:none;
  transition: background-color 0.5s ease;
  background-color: white;
  color: #56CFB0;
}
#right a:hover {
  text-decoration:none;
  transition: background-color 0.5s ease;
  background-color: white;
  color: #E7746B;
}
