body {
  background-color: #E4E5DD;
}
.jumbotron {
  padding: 0;
  margin: 0;
  background-color: #56CFB0;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron h2 {
  text-align: center;
  border-right: 2px solid white;
}
.buttonl {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  width: 50%;
}
.btn-primary {
    color: #FFF;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
color: #fff;
background-color: #04B431;
border-color: #58FA58;
}
.starting {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
.col-md-2 h2 {
  text-align: center;
}
#chart-area {
  margin-top: 50px;
}
.row {
margin-right: 0%;
margin-left: 0%;
}
.form-class {
  background-color: #D3D3D3;
}
.col-md-4 h2 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  margin: 0;
  background-color: #E14876;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
  font-weight: bold;
}
.right-stat {
  width: 50%;
  padding: 20px;
  color: white;
  font-weight: 600;
  margin: 0;
}
#first-stat {
  background-color: #F64649;
}
#second-stat {
  background-color: #5AD3D1;
}
#third-stat {
  background-color: #3B6BBF;
}
#forth-stat {
  background-color: #A8B3C5;
}
#fifth-stat {
  background-color: #616774;
}
#stat-value1 {
  background-color: #ED3B3E;
}
#stat-value2 {
  background-color: #41C1BF;
}
#stat-value3 {
  background-color: #2B5CAF;
}
#stat-value4 {
  background-color: #98A5BA;
}
#stat-value5 {
  background-color: #555BC8;
}
