body {
  background-color: #E4E5DD;
}
.jumbotron {
  padding: 0;
  margin: 0;
  background-color: #E7746B;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  text-align: center;
  margin: 0;
}
.buttonl {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20px;
  width: 50%;
}
.col-md-3 {
width: 25%;
height: 450px;
}
.col-md-9 {
width: 75%;
height: 450px;  
}
.starting {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
input[type=radio] {
 margin-left: 25%;  
}
.col-md-2 h2 {
  text-align: center;
}
#chart-area {
  margin-top: 20px;
}
.form-class {
  background-color: #D3D3D3;
}
